body {
  padding-top: 120px; /* Adjust the value based on the height of your navbar */
}
html,
body {
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar-brand img {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9)); /* Add a shadow to the logo for better visibility */
}
.navbar {
  background-color: rgba(255, 255, 255, 0.1); /* White with 70% opacity */
  backdrop-filter: blur(10px); /* Optional: Creates frosted glass effect */
}
.navbar-nav .nav-link,
.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  color: #010101;
}
.nav-link:hover {
  color: #c5d700;
}
.navbar-nav .nav-item .nav-link.active {
  color: #000000; /* Set the color you want for the active link */
  border-bottom: 2px solid #000000; /* Optional: Add a border under the active link */
}
.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Section Styles */
.section1,
.jumbotron,
.about-us {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.jumbotron1 h2,
.services-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #bba085;
  margin-bottom: 20px;
}

.jumbotron1 p,
.about-description,
.service-desc {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
}
.jumbotron1 p {
  font-size: 64px;
  line-height: 78px;
  color: #4f4f4f;
}
.award-image {
  width: 237px;
  height: 183px;
  background: url("Assets/Images/Camera.webp") no-repeat center center;
  display: block;
  margin: 0 auto;
}
.about-us .img-fluid {
  width: 100%;
  height: 50%;
  max-width: 692px;
  border-radius: 10px;
}
.about-title,
.signature {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.signature {
  font-family: "Ephesis", cursive;
  font-size: 60px;
  line-height: 78px;
  color: #545454;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

/* Service Card Styles */
.service-card {
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.service-title {
  font-family: "Ephesis", cursive;
  font-size: 60px;
  line-height: 78px;
  color: #585858;
  margin-top: 20px;
  text-align: center;
}
.service-price {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #5b5b5b;
  margin-top: 10px;
  text-align: center;
}

.btn-outline-secondary {
  margin-top: 20px;
}
.about-comma {
  position: static;
  width: 21.47px;
  height: 40.58px;

  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 31px;
  text-align: center;

  color: #5a5046;
}

/*  */
.portfolio-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #bba085;
  margin-bottom: 10px;
}
.featured-story {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #5b5b5b;
}
.portfolio-number {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 145px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #b58b61;
}
.portfolio-name {
  font-family: "Ephesis";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #555555;
}
.portfolio-desc {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;

  color: #2d2d2d;
}

/* testimonial */
.testimonial-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  border-bottom: 2px solid #e9ecef;
}
.testimonial-text {
  font-family: "Ephesis";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: none;
  color: #555555;
}
.testimonial-comma {
  font-family: "Forum";
  font-size: 100px;
  position: static;
  text-align: center;
  margin-bottom: none;

  color: #e9e1d9;
}
.testimonial-author {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #414141;
}
.carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.testimonial-title {
  font-family: "Ephesis";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #555555;
}

/* experience */
/* Container */
.experience-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap as needed */
  padding: 20px;
}

/* Numbers */
.experience-number {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #bba085;
}

/* Labels */
.experience-label {
  font-family: "Ephesis", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #535353;
  text-align: center;
}
/* experience */
